<nav class="navbar navbar-expand-lg" [class.bg-light]="!isNightMode" [class.bg-dark]="isNightMode"
     [class.navbar-light]="!isNightMode" [class.navbar-dark]="isNightMode">

  <a class="navbar-brand ms-2" href="#">
    <img src="assets/images/logo.png" alt="SkillEval Logo" height="30">
  </a>
  <span class="navbar-text small me-2">Question 1 sur 10</span>
  <span class="badge badge-pill badge-info me-auto">Temps: 00:02:15</span>
  <button class="btn theme-toggle-btn me-2" (click)="toggleTheme()">
    <i class="fas" [class.fa-sun]="isNightMode" [class.fa-moon]="!isNightMode"></i>
  </button>

</nav>

<div class="  container-fluid  mt-4"  >
  <app-session></app-session>
</div>
